{% extends 'base.html' %}

{% block title %}{{ Title }}{% endblock %}

{% block header %}
  <h1>{{ Title }}</h1>
{% endblock %}


{% block content %}
        {% if subsystems[0][2]== None %}
            <p>G Train</p>
        {% else %}
            <p>R Train</p>
        {% endif %}

        {% if subsystems[1][2] == None %}
            <p>G Train</p>
        {% else %}
            <p>R Train</p>
        {% endif %}

        {% if subsystems[2][2]== None %}
            <p>G Train</p>
        {% else %}
            <p>R Train</p>
        {% endif %}

        {% if subsystems[3][2] == None %}
            <p>G Train</p>
        {% else %}
            <p>R Train</p>
        {% endif %}

        {% if subsystems[4][2] == None %}
            <p>G Train</p>
        {% else %}
            <p>R Train</p>
        {% endif %}

        {% if subsystems[5][2] == None %}
            <p>G Train</p>
        {% else %}
            <p>R Train</p>
        {% endif %}

        {% if subsystems[6][2] == None %}
            <p>G Train</p>
        {% else %}
            <p>R Train</p>
        {% endif %}

        {% if subsystems[7][2] == None %}
            <p>G Train</p>
        {% else %}
            <p>R Train</p>
        {% endif %}

        {% if subsystems[8][2] == None %}
            <p>G Train</p>
        {% else %}
            <p>R Train</p>
        {% endif %}

        {% if subsystems[9][2] == None %}
            <p>G Train</p>
        {% else %}
            <p>R Train</p>
        {% endif %}

        {% if subsystems[10][2] == None %}
            <p>G Train</p>
        {% else %}
            <p>R Train</p>
        {% endif %}
{% endblock %}