{% extends 'base.html' %}

{% block title %}{{ Title }}{% endblock %}

{% block header %}
  <h1>{{ Title }}</h1>
{% endblock %}


{% block content %}
        {% if subsystems[0].claim == True %}
            <p>G Train</p>
        {% else %}
            <p>R Train</p>
        {% endif %}

        {% if subsystems[1].claim == True %}
            <p>G Train</p>
        {% else %}
            <p>R Train</p>
        {% endif %}

        {% if subsystems[2].claim == True %}
            <p>G Train</p>
        {% else %}
            <p>R Train</p>
        {% endif %}

        {% if subsystems[3].claim == True %}
            <p>G Train</p>
        {% else %}
            <p>R Train</p>
        {% endif %}

        {% if subsystems[4].claim == True %}
            <p>G Train</p>
        {% else %}
            <p>R Train</p>
        {% endif %}

        {% if subsystems[5].claim == True %}
            <p>G Train</p>
        {% else %}
            <p>R Train</p>
        {% endif %}

        {% if subsystems[6].claim == True %}
            <p>G Train</p>
        {% else %}
            <p>R Train</p>
        {% endif %}

        {% if subsystems[7].claim == True %}
            <p>G Train</p>
        {% else %}
            <p>R Train</p>
        {% endif %}

        {% if subsystems[8].claim == True %}
            <p>G Train</p>
        {% else %}
            <p>R Train</p>
        {% endif %}

        {% if subsystems[9].claim == True %}
            <p>G Train</p>
        {% else %}
            <p>R Train</p>
        {% endif %}

        {% if subsystems[10].claim == True %}
            <p>G Train</p>
        {% else %}
            <p>R Train</p>
        {% endif %}

        {% if subsystems[11].claim == True %}
            <p>G Train</p>
        {% else %}
            <p>R Train</p>
        {% endif %}
{% endblock %}