
{% extends 'base.html' %}


<!-- This creates the heading of the page and makes it the same as the title -->
{% block header %}
  <h1>{% block title %} {{ pagetitle }} {% endblock %}</h1>
{% endblock %}


<!-- This replaces the content block in base.html -->
{% block content %}
    {% if current_user.is_anonymous %}
    {% else %}
        <p> Logged in as: {{ user.username }}</p>
    {% endif %}
    <p>Welcome to the Capture the Flag game's subsystem claiming site.</p>
    {% if current_user.is_anonymous %}
        <p>Please register or login to view the rest of the website.</p>
    {% else %}
        <p>If you have a passcode to claim a subsystem, go to the <a href="/claimsubsystem">claim a subsystem</a> page.
        </p>
    {% endif %}
{% endblock %}